<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form  method="POST">
            {% csrf_token %}
            <label for="name">entername</label>
            <input type="text" name="name" id="name"><br>
            <label for="date">enterdate</label>
            <input type="text" name="date" id="date"><br>
            <label for="author">enter author</label>
            <input type="text" name="author" id="author"><br>
            <input type="submit" value="access">
        </form>
        
    </center>
    
</body>
</html>